results/**
resources/**
logs/**
.snakemake
.snakemake/**
.ipynb_checkpoints
.test/data/.ipynb_checkpoints/**
config/.ipynb_checkpoints/**
config/config_c.yaml
workflow/.ipynb_checkpoints/**
workflow/envs/.ipynb_checkpoints/**
workflow/scripts/.ipynb_checkpoints/**
.test/.snakemake/**
.test/BetterBaseQuals/**
.test/BetterBaseQuals
.test/logs/**
.test/resources/**
.test/results/**
BetterBaseQuals/**
.test/report.html